<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SaveUp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SaveUp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>com.googleusercontent.apps.538577078519-cdg4aphf9rrqp87h1qmhfk0oou0oh5jk</string>
        </array>
    </dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.538577078519-cdg4aphf9rrqp87h1qmhfk0oou0oh5jk</string>
				<string>fb1528360214451297</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1528360214451297</string>
	<key>FacebookClientToken</key>
	<string>84bca6f0d8e5e1e5db75e9931b8bbb4b</string>
	<key>FacebookDisplayName</key>
	<string>SaveUp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb1528360214451297</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<string>TRUE</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<string>TRUE</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-xxxxxxxxxxxx/xxxxxx</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need photos access to complete your account setup</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
